<div fxLayout="row wrap">
  <div fxFlex="100" fxFlex.gt-sm="50" class="p-2">
    <h2 class="text-muted text-center">Nueva</h2>

    <form (ngSubmit)="guardar()" [formGroup]="miFormulario">

      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input formControlName="nombre" matInput>
        <mat-error *ngIf="miFormulario.controls['nombre'].errors?.['required']">El nombre es requerido</mat-error>
        <mat-error *ngIf="miFormulario.controls['nombre'].hasError('minlength')">Nombre minimo 3 caracteres</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Fecha de Nacimiento</mat-label>
        <input formControlName="fecha_nacimiento" type="date" matInput>
        <mat-error *ngIf="miFormulario.controls['fecha_nacimiento'].errors?.['required']">La fecha de nacimiento es requerida</mat-error>
      </mat-form-field>
      <!--      Agregar los input necesarios-->

      <div fxLayout="row wrap" class="text-center mt-5">
        <button mat-button color="primary" class="w-50" (click)="cancelar()">
          Cancelar
        </button>
        <button mat-button color="primary" type="submit" class="w-50">
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>

